@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100dvw;
  overflow-x: hidden;
}

#product-description > ul {
  margin-top: 1rem;
}

#product-description > ul > li {
  list-style: disc;
  margin-left: 1rem;
}

.TabsTrigger[data-state="active"] path {
  stroke: #914C28;
}

.TabsTrigger[data-state="active"] .tab-label {
  border-bottom: 2px solid #914C28;
}

.TabsTrigger[data-state="active"] .tab-icon-container {
  background-color: #F7EBD6;
}